@import ../variables

.canvas
  background: $canvas-background
  left: $toolbar-width
  right: $details-width

  &.no-tool-selected
    svg > *
      cursor: move

  svg
    height: 100%
    width: 100%
