@import ../variables

.toolbar
  background: $chrome-frame-color
  right: auto
  width: $toolbar-width

  > ul
    margin: 0
    padding: 0

    > li
      list-style-type: none
      position: relative
      width: $toolbar-width
      height: $toolbar-width

      &.active
        background: $chrome-active-color

      button
        background: none
        border: none
        color: $chrome-font-color
        height: 100%
        padding: 0
        width: 100%

        $icon-size: 30px
        i
          font-size: $icon-size
          height: $icon-size
          left: -1px
          width: $icon-size
