@import variables

p
  color: $chrome-font-color

input
  background: $input-background-color
  border: none
  border-radius: 2px
  color: $input-text-color

label
  cursor: pointer

  p
    font-size: .8em
    margin-bottom: .25em
