// Dimensions
$details-width: 300px

$toolbar-margin: 10px
$toolbar-width: 50px
$toolbar-icon-size: 28px

// Colors
$chrome-content-color: #353535
$chrome-active-color: #484848
$chrome-frame-color: #000
$chrome-font-color: #ddd
$input-label-color: #555
$input-background-color: #353535
$input-text-color: #fff
$canvas-background: #fff
